<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>    
    <add key="PhoneNumber" value="xxx" />
    <!--账号的手机号码-->    
    <add key="AppKey" value="xxx" />
    <!--AppKey应用的唯一标识-->
    <add key="SecretKey" value="xxx" />
    <!--安全的密钥,和AppKey一起使用-->    
  </appSettings>
</configuration>